*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

.container{
	 display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.2fr;
  grid-template-areas:
    "nav nav nav nav"
    "main main main main"
    "content content content content"
    "footer footer footer footer";
  grid-gap: 0.2rem;
  font-weight: 800;
  font-size: 12px;
  color: #004d40;
}

body{
	background-color: whitesmoke

}

.nav1 label img {
	width: 170px;
	height: 170px;
	margin-top: -125px;
	margin-left: -32px;
}

.nav1{
	width: 100%;
	height: 80px;
	background-color: white;
	grid-area: nav;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
	}

.nav1 .logo #c1{
	font-size: 25px;
	margin-left: 20px;
	color: black;
	font-weight: bolder;
	font-family: 'Merienda', cursive;
	padding:0 80px;
	font-weight: bold;
	line-height: 30px;
}

.nav1 .logo #c2{
	font-size: 25px;
	margin-left: 60px;
	font-weight: bold;
	color: black;
	font-family: 'Merienda', cursive;
	padding:0 80px;
	font-weight: bold;
	line-height: 50px;
}

.nav1 ul{
	float: left;
	margin-left: 255px;
	margin-top: -50px;
}

.nav1 ul li{
	display: inline-block;
	line-height: 80x;
	margin: 0 15px;


}
.nav1 ul li a{
	font-size: 14px;
	text-transform: uppercase ;
	color: rgba(48, 45, 46, 0.8);

	font-family: 'Montserrat', sans-serif;
	padding: 10px 15px;
	border-radius: 50%;
}

.nav1 ul li .dropdown{
	display: none;
	line-height: 50px;
	transition: 0.9s;
}

.nav1 ul li:hover .dropdown{
	display: block;
	background: whitesmoke;
	box-shadow: -2px -2px 2px rgba(0,0,0,0.4);
	position: absolute;
	left: 105px;
	top: 109px;
	border-radius: 10px;
	padding: 10px;
	
}

.navbar li span{
	margin-left: -12px;
	display: inline;
}



.nav1 ul li:hover .dropdown li {
	display: block;
}
main {
	width: 100%;
	height: 700px;
  background-image: url(gambar/banner.jpg);
  background-repeat: no-repeat;
  grid-area: main;
  background-size: 100% 100%;
  border: 1px solid blueviolet;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#sidebar {
  background: black;
  grid-area: sidebar;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}


#content {
  background: whitesmoke;
  grid-area: content;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
#content table .jual1{
	width: 310px;
	height: 310px;
	text-align: center;
	line-height: 310px;
	background-color: whitesmoke;
	border-radius: 10px;
	box-shadow: -2px -2px -2px black;
}

.grid-container {
	width: 100%;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

footer {
  background: white;
  height: 60px;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  line-height: 60px;
  text-align: center;
  color: black;
  grid-area: footer;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}


.navbar a:hover, .navbar a:active{
	box-shadow: -2px -2px 2px rgba(0,0,0,0.4);
	border-radius: 35px;
	background-color: rgba(0, 0, 0, 0.1);
	font-weight: bold;
	transition: 0.5s;
	
}


.btn{
	float: right;
	font-size: 30px;
	color: black;
	line-height: 80px;
	margin: 20px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;
}

@media (max-width: 952px){
	nav .logo {
		font-size: 10px;
		padding-left: 50px ;
	}
	nav ul li a {
		font-size: 10px;

	}
}

@media (max-width:  868px){
 	.btn{
 		display: block;
 	}

 	.navbar{
 		height: 100vh;
 		width: 100%;
 		position: fixed;
 		top: 133px;
 		text-align: center;
 		left: -510%;
 		background-color: rgba(0, 0, 0, 0.2);
 		transition: all .5s;
 	}
 	#check:checked ~ ul {
 		left: -255px;
 	}
 	nav .navbar li{
 		margin: 70px 0;
 		line-height: 30px;
 		display: block;
 	}

 	.nav1 .png img{
 		width: 200px;
 		height: 200px;
 		margin-left: -50px;
 		margin-top: -150px;
 	}
 	nav .navbar li a{
 		font-size: 20px;
 		color: black;
 	}
 	a.active, a:hover{
 		color: white;
 		background-color: rgba(0, 0, 0, 0.6);
 	}
}